.mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 9.5rem;
}

.itemContent {
    margin: 0.125rem;
    width: 3.25rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.itemContent:hover .itemContent_image {
    transform: scale(1.1);
}

.itemContent:hover .itemContent_txt {
     color: rgb(199, 201, 211);
}

.itemContent_image {
    width: 2.75rem;
    border: 0.1875rem solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(0deg, rgb(49, 53, 74) 0px, rgb(106, 126, 163));
}

.itemSelected img {
    outline-width: thick;
    outline: dashed;
    outline-color: rgb(208, 168, 92);
    outline-width: thick;
}

.itemContent * {
    pointer-events: none
} 
