.mainContent {
  align-items: center;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: calc(100% - 0.4rem);
  cursor: pointer;
}

.mainContent_image {
  min-height: 4.5rem;
  min-width: 4.5rem;
  cursor: pointer;
}

.spanContent {
  border-radius: 50%;
  background: white;
  padding: 0;
  margin: 0;
  opacity: 0.3;
  right: -0.4rem;
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: center;
  position: absolute;
  width: 20px;
  pointer-events: all;
}

.spanContent:hover {
  opacity: 1;
  color: white;
}

.mainContent:hover .spanContent {
  opacity: 0.4;
}

.spanContent svg {
  min-width: 100%;
  min-height: 100%;
}
