.itemContent {
  align-items: center;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-height: 5.5%;
  min-width: 5.5%;
  width: 5.5%;
  margin-bottom: 0.5rem;
}

.itemContent_image {
  border: 0.1875rem solid;
  border-image-slice: 1;
  width: calc(100% - 22%);
  border-image-source: linear-gradient(0deg, rgb(49, 53, 74) 0, rgb(106, 126, 163));
}

.itemContent_txt {
  font-size: 0.4rem;
  color: rgb(137, 145, 182);
  text-align: center;
  padding: 0.4rem 0;
}

.itemContent:hover .itemContent_image {
  transform: scale(1.1);
}

.itemContent:hover .itemContent_txt {
  color: rgb(199, 201, 211);
}

.itemSelected img {
  outline: dashed;
  outline-width: thick;
  outline-color: rgb(208, 168, 92);
}

.itemContent * {
  pointer-events: none;
}