.mainContent {
  position: relative;
  height: 5rem;
  width: 4.375rem;
  margin: 0.25rem;
  display: flex;
}

.mainContent_list {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent_background {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: rgba(17, 32, 39, 1);
  height: 100%;
  width: 100%;
}

.traitNotSelected ~ .mainContent_list {
  filter: grayscale(1);
  opacity: 0.7;
}

.mainContent_list:empty:hover {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: rgb(35, 62, 75);
  cursor: pointer;
}

.mainContent_backgroundColorCost-01 {
  background: linear-gradient(0deg, rgb(49, 51, 74) 0, rgb(106, 111, 163));
}

.mainContent_backgroundColorCost-02 {
  background: linear-gradient(0deg, rgb(25, 74, 60) 0, rgb(19, 193, 109));
}

.mainContent_backgroundColorCost-03 {
  background: linear-gradient(0deg, rgb(45, 59, 134) 0, rgb(64, 180, 228));
}

.mainContent_backgroundColorCost-04 {
  background: linear-gradient(0deg, rgb(115, 19, 119) 0, rgb(233, 22, 199));
}

.mainContent_backgroundColorCost-05 {
  background: linear-gradient(0deg, rgb(168, 99, 22) 0, rgb(230, 178, 37));
}

.traitNotSelected.mainContent_backgroundColorCost-01,
.traitNotSelected.mainContent_backgroundColorCost-02,
.traitNotSelected.mainContent_backgroundColorCost-03,
.traitNotSelected.mainContent_backgroundColorCost-04,
.traitNotSelected.mainContent_backgroundColorCost-05 {
  filter: grayscale(1);
}
