.mainContent {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(16, 32, 40);
    margin: 0;
    position: fixed;
    align-content: center;
    transition-duration: 0.4s;
    color: white;
    z-index: 1;
}

.menuSelected  {
    opacity: 1;
}

.mainContent_item {
    width: 75px;
    margin-top: 16px;
}

.mainContent_image {
    width: 100%;
}

.mainContent_txt {
    text-align: center;
    color: rgb(150, 156, 184);
    font-size: 0.6rem;
}

.mainContent_ButtonContent {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

.mainContent_itemButton {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
}

.mainContent_itemSlected img {
    filter: sepia(100%) saturate(376%);
    -webkit-filter: sepia(100%) saturate(200%);
    -moz-filter: sepia(100%) saturate(200%);
}