.mainContent {
  position: absolute;
  right: 1rem;
  top: 0;
  padding: 0.25rem;
  width: 10rem;
  height: 26.25rem;
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  align-content: baseline;
  direction: rtl;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.mainContent::-webkit-scrollbar {
  width: 0.3125rem;
}

.mainContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.mainContent::-webkit-scrollbar-thumb {
  background-color: #112027;
  border-radius: 2rem;
  outline: 0.0625rem solid slategrey;
}

.mainContent_item {
  direction: ltr;
  position: relative;
  margin: 0.5rem 0.25rem;
  width: 8.5rem;
  height: fit-content;
  border: 0.0625rem solid white;
  background: #112027;
  display: flex;
  padding: 0.125rem;
  justify-content: space-between;
  opacity: 0.2;
}

.mainContent_item > * {
  margin: 0.125rem;
}

.mainContent_itemImage {
  height: 2rem;
  width: 2rem;
  justify-content: flex-end;
}

.mainContent_itemTxt__count {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
}

.mainContent_itemTxt__name {
  color: white;
  font-size: 0.75rem;
  position: absolute;
  left: 0.25rem;
  top: -0.5rem;
  padding: 0 0.25rem;
  background: linear-gradient(to bottom, rgba(7, 14, 19, 1) 0%, rgba(7, 14, 19, 1) 50%, rgba(17, 32, 39, 0.1) 51%, rgba(17, 32, 39, 0.1) 71%, rgba(17, 32, 39, 0.1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#070e13', endColorstr='#112027', GradientType=0);
}

.mainContent_itemList {
  display: flex;
}

.mainContent_itemList_item {
  color: rgba(211, 211, 211, 0.2);
  margin: 0.0625rem;
  font-size: 0.7rem;
  align-self: center;
}

.mainContent_itemList_itemSelected {
  color: rgba(211, 211, 211, 0.9);
}

.mainContent_itemList_item:not(:last-child)::after {
  content: '\00276F';
  margin-left: 0.25rem;
  margin-right: 0.125rem;
}

.synergiesLevel__partial,
.synergiesLevel__bronze,
.synergiesLevel__silver,
.synergiesLevel__gold,
.synergiesLevel__chromatic {
  cursor: pointer;
}

.synergiesLevel__partial {
  order: 5;
}

.synergiesLevel__bronze {
  order: 4;
}

.synergiesLevel__bronze > div {
  border: 0.125rem solid #ad8a56;
  background: rgba(173, 138, 86, 0.2);
  opacity: 1;
}

.synergiesLevel__silver {
  order: 3;
}

.synergiesLevel__silver > div {
  border: 0.125rem solid #d7d7d7;
  background: rgba(215, 215, 215, 0.2);
  opacity: 1;
}

.synergiesLevel__gold {
  order: 2;
}

.synergiesLevel__gold > div {
  border: 0.125rem solid #c9b037;
  background: rgba(201, 176, 55, 0.2);
  opacity: 1;
}

.synergiesLevel__gold img {
  filter: sepia(100%) saturate(376%);
  -webkit-filter: sepia(100%) saturate(200%);
  -moz-filter: sepia(100%) saturate(200%);
}

.synergiesLevel__chromatic {
  order: 1;
}

.synergiesLevel__chromatic > div {
  border: 0.125rem solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(25deg, #4ff09a, #8ae0ba, #afced9, #cbb9f8);
  background: linear-gradient(25deg, rgba(79, 240, 154, 0.2), rgba(138, 224, 186, 0.2), rgba(175, 206, 217, 0.2), rgba(203, 185, 248, 0.2));
  color: linear-gradient(25deg, #4ff09a, #8ae0ba, #afced9, #cbb9f8);
  opacity: 1;
}
