.mainContent {
    align-self: center;
    background-color: rgb(208, 168, 92);
    width: 150px;
    padding: 0.5rem;
    height: 40px;
    color: rgb(1, 1, 1);
    font-size: 0.8125rem;
    letter-spacing: 0.15em;
    font-weight: bold;
    position: relative;
    padding: 0px;
    margin-top: 1rem;
    border-width: 0px;
    cursor: pointer;
}

.mainContent_Border {
    position: absolute;
    top: -4px;
    bottom: 4px;
    left: -4px;
    right: 4px;
    border: 1px solid white;
}