.mainContent {
  align-self: center;
  border-width: 0;
  color: rgb(1, 1, 1);
  cursor: pointer;
  font-size: 0.8125rem;
  font-weight: bold;
  letter-spacing: 0.15em;
  margin: 0.5rem 1rem;
  position: relative;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
}

.mainContent_Border {
  position: absolute;
  top: -0.1875rem;
  bottom: 0.1875rem;
  left: -0.1875rem;
  right: 0.1875rem;
  border: 0.0625rem solid white;
  border-radius: 0.25rem;
}

.primary {
  background-color: rgb(208, 168, 92);
}

.secondary {
  background-color: #6877b9;
}

.warn {
  background-color: #b96874;
}