.mainContent {
  margin: 0.5rem 1rem;
  border-style: solid;
  border-width: 0.125rem;
  border-radius: 0;
  padding: 0.5rem 2rem;
  color: #f0efef;
  font-size: 1.125rem;
  font-weight: 400;
  border-radius: 0.25rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  box-shadow: 0.0313rem 0.0625rem 0.0625rem 0.0625rem #1e2328;

}

.mainContent:focus {
    outline: none;
}

.primary {
  background: none;
  border-color: #4f819e;
}

.green {
  background: #1e2328;
  border-color: #4f9e56;
}

.green:hover {
  background: #4f9e56;
}

.primary:hover {
  background-color: #4f819e;
}

.warn {
  border-color: #9e3e3e;
}

.warn:hover {
  background-color: #9e3e3e;
  border-color: #9e3e3e;
  background: #9e3e3e;
} 

.warn:active {
  border-color: #792020;
  background-color: #792020;
} 