.mainContent {
  position: absolute;
  top: -0.55rem;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

.mainContent_item {
  margin: 0.5px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  z-index: 100;
  background: #929292;
  border: 1px solid black;
}

.mainContent_image {
  height: 100%;
  width: 100%;
}
