.mainContent {
  position: absolute;
  display: flex;
  bottom: -0.125rem;
  pointer-events: all;
}

.mainContent_item {
  position: relative;
  margin: 0.0625rem;
  border: 0.0625rem solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(0deg, rgb(168, 99, 22) 0, rgb(230, 178, 37));
  height: 1.25rem;
  width: 1.25rem;
}

.mainContent_image {
  height: 100%;
  width: 100%;
}

.mainContent_item svg {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  width: 1.25rem;
}

.mainContent_item:hover {
  background: white;
}

.mainContent_item:hover svg {
  cursor: pointer;
  background: white;
  border: 0.0625rem solid white;
  border-radius: 50%;
  opacity: 1;
  color: white;
}
