.mainContent {
  display: flex;
  margin: 0.25rem;
  width: calc(100% - 10rem);
  height: 100%;
}

.mainContent:nth-child(even) {
  margin-left: 6rem;
  margin-right: 3rem;
}

.mainContent:nth-child(odd) {
  margin-right: 5.4rem;
  margin-left: 3.6rem;
}
