.mainContent {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}

.mainContent_left {
  min-width: 14%;
  max-width: 14%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.mainContent_mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.mainContent_board {
  display: flex;
  width: 100%;
  justify-content: center;
}

.mainContent_buttons {
  justify-content: center;
  width: fit-content;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.mainContent_right {
  min-width: 14%;
  max-width: 14%;
}
