.mainContent {
    align-items: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    height: calc(100% - 8px);
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: calc(100% - 8px);
}

.mainContent_image {
    min-height: 72px;
    min-width: 72px;
}

.spanContent {
    background: none;
    border-radius: 50%;
    border: none;
    background: white;
    opacity: 0.4;
    right: -8px;
    top: 28px;
    cursor: pointer;
    display: flex;
    height: 24px;
    justify-content: center;
    position: absolute;
    width: 24px;
}

.spanContent svg {
    min-width: 22px;
}

.spanContent:hover {
    opacity: 1;
    color: white;
}