.mainContent {
    position: absolute;
    top: -0.75rem;
    display: flex;
}

.mainContent_item {
    margin: 0.0625rem;
    height: 1.375rem;
    width: 1.375rem;
    border-radius: 50%;
    z-index: 100;
    background: #929292;
}

.mainContent_image {
    height: 100%;
    width: 100%;
} 