.mainContent {
	padding: 2rem;
	background-color: #1a202c;
  color: white;
  text-align: center;
};

.mainContent_link a {
	color: #9b2a2a;
	font-weight: 600;
  text-decoration: none;
}

.mainContent_link:visited {
  color: #9b2a2a;
}
