.mainContent {
	padding: 2rem;
	background: rgb(7, 14, 19);
  color: white;
  border-top: 2px solid rgba(20, 25, 29, 0.692);
  text-align: center;
};

.mainContent_link a {
	color: #9b2a2a;
	font-weight: 600;
  text-decoration: none;
}

.mainContent_link:visited {
  color: #9b2a2a;
}
